:root {
    --main-color: #e01d3f;
}

.App-header {
    border-bottom: 3px solid var(--main-color);
    display: flex;
    align-items: center;
    height: 162px;
    width: 100%;
}

.App-header img {
    height: 159px;
    width: 159px;
}

.App-header h1 {
    color: var(--main-color);
    font-weight: 900;
    font-size: 2rem;
}
