:root {
    --main-color: #e01d3f;
}

.footer {
    border-top: 3px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    height: 3rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}
