#count {
  display: inline;
}

#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/Holberton-logo.jpg');
  background-size: 200px 200px;
}

body {
  display: flex;
  flex-wrap: wrap;
}

p {
  min-width: 90%;
}

body p:last-of-type {
  order: 3;
}

#click-here {
  max-width: 30%;
  order: 2;
}